<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="toUpper" class="preprocessor.PreProcessorToUpperImpl"/>

    <bean id="rendererErr" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="toUpper"/>
    </bean>

    <bean id="printerWithPrefix" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererErr"/>
        <property name="prefix" value="Prefix "/>
    </bean>

    <bean id="printerWithDateTime" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererErr"/>
    </bean>

</beans>